* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

button {
  display: block;
  margin-left: 100px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px 25px;
}
